<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<h3>Julio</h3>
<%= @num %>

<% if @num > 100 %>
    <p>Número es mayor a 100</p>
<% else %>
    <p>Número es menor a 100</p>
<% end %>